amqp==5.1.1
asgiref==3.5.2
auth==0.5.3
autopep8==1.7.0
billiard==3.6.4.0
blinker==1.5
celery==5.2.7
certifi==2022.9.14
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
coreapi==2.3.3
coreschema==0.0.4
cryptography==38.0.1
cssbeautifier==1.14.6
defusedxml==0.7.1
distlib==0.3.6
Django==4.1
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djlint==1.15.0
djoser==2.1.0
dnspython==2.2.1
EditorConfig==0.12.3
eventlet==0.33.1
falcon==3.1.0
filelock==3.8.0
flake8==5.0.4
greenlet==1.1.3
gunicorn==20.1.0
html-tag-names==0.1.2
html-void-elements==0.1.0
identify==2.5.3
idna==3.4
importlib-metadata==4.12.0
itypes==1.2.0
Jinja2==3.1.2
jsbeautifier==1.14.6
kombu==5.2.4
MarkupSafe==2.1.1
mccabe==0.7.0
mongoengine==0.24.2
nodeenv==1.7.0
oauthlib==3.2.1
pathspec==0.10.1
platformdirs==2.5.2
pre-commit==2.20.0
prompt-toolkit==3.0.31
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
PyJWT==2.5.0
pymongo==4.2.0
python3-openid==3.2.0
pytz==2022.2.1
PyYAML==6.0
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.3.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
typing==3.7.4.3
uritemplate==4.1.1
urllib3==1.26.12
vine==5.0.0
virtualenv==20.16.3
wcwidth==0.2.5
Werkzeug==2.2.2
zipp==3.8.1
